/* Potential layout for class template */
/*will be used in homepage*/

<div class="class-name">
{{ClassName}}
</div>
<div class="Note-Container">
  {{#each NoteList}}
    {{> NoteTemplate}}
  {{/each}}
</div>
