
<div class="class-container" data-classname="{{ClassName}}">
  <div class="class-container-header">
    <button id="dropdown" onclick="window.location.href = 'http://localhost:3000/{{ClassName}}';"> {{ClassName}} </button>
  </div>
  <div class="Note-Container">
      {{#each NoteList}}
        {{> NoteTemplate}}
      {{/each}}
  </div>
  <div class="new-note-button">
    <button id="new-note"></button>
  </div>
</div>
