/* Displays all the notes for a particular class */

<div class="ClassPage-Title">
  <h1>{{ClassName}}</h1>
<div>

<div class="ClassPage-Note-Container">
  {{#each NoteList}}
    {{> NoteTemplate}}
  {{/each}}
</div>

<div class="ClassPage-Note-AddNoteButton">
  <button><i>Add Note Icon</i></button>
<div>
