<main>

  <div id="Homepage-Class-Container">
    {{#each ClassList}}
      {{> ClassTemplate}}
    {{/each}}
  </div>

  {{> AddNoteModal}}

  {{> AddClassButtonTemplate}}
  {{> AddClassModal}}

</main>
